@charset "utf-8";
/* CSS Document */


/* Divs */
body {
	width:auto;
	height:100%;
	text-align:center;
	background:#1BBD4B;	
	box-sizing:border-box;
}


#content {

background:rgb(254, 250, 227);	
margin:auto;
width:100%;
text-align:center;
box-sizing:border-box;

	
}


#sitename {
	
	font-size:3.5em;
}



/* p */

#messages  {
	
	text-align:center;	
}


body p {

	font-size:1.25em;		
	
}

#content p, #content label, h1 {
	color:#000000;
}

#submit {
box-sizing:border-box;
padding:15px;	
width:100%;
max-width:400px;
	
}


/*forms */ 
#tableDNSform {
	box-sizing:border-box;
	margin:auto;
	width:100%;
	min-width:600px;
	max-width:800px;
	text-align:center;
	
}

textarea {
	text-align:center;
	
	
}


input {
	box-sizing:border-box;
	margin:1px;
	width:100%;
	min-width:300px;
	max-width 600px;
	text-align:center;
	
	
}