@charset "utf-8";
/* CSS Document 
	color design help by http://colorschemedesigner.com/#0y51Tw0w0w0w0
	*/

/* ----------------- background Colors ------------------------------*/ 


#fu 
	{
	
		
	}

#qb {
		/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 433, color-stop(0, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FF1800 0%, #A61000 100%);
}


header
	{ 
	

	background: #A61000\9; /* IE 8 and below */

	*background: #A61000; /* IE 7 and below */

	_background: #A61000; /* IE 6 */
	

/* IE10 Consumer Preview */ 
background-image: url(../images/citysky.png), -ms-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Mozilla Firefox */ 
background-image: url(../images/citysky.png), -moz-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Opera */ 
background-image: url(../images/citysky.png), -o-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image:url(../images/citysky.png), -webkit-gradient(radial, left top, 0, left top, 820, color-stop(0, #A61000), color-stop(0.5, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image:url(../images/citysky.png), -webkit-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image:url(../images/citysky.png), radial-gradient(ellipse farthest-side at left top, #A61000 0%, #FF1800 50%, #A61000 100%);

background-repeat:no-repeat;
background-size:75% 90%, 100% 100%;
background-position:left bottom;

	}

footer
	{ 
	
	background: #A61000\9; /* IE 8 and below */

	*background: #A61000; /* IE 7 and below */

	_background: #A61000; /* IE 6 */

/* IE10 Consumer Preview */ 
background-image:-ms-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Mozilla Firefox */ 
background-image:-moz-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Opera */ 
background-image: -o-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image:-webkit-gradient(radial, left top, 0, left top, 820, color-stop(0, #A61000), color-stop(0.5, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image:-webkit-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image:radial-gradient(ellipse farthest-side at left top, #A61000 0%, #FF1800 50%, #A61000 100%);

background-repeat:no-repeat;
background-size: 100% 100%;
background-position:left bottom;

	}

#askfooter
	
	{
		/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 433, color-stop(0, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FF1800 0%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center, #FF1800 0%, #A61000 100%);
	
	}


.questions , #spara
	{ 
	/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #E8E8E8 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #E8E8E8 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #E8E8E8 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 496, color-stop(0, #FFFFFF), color-stop(1, #E8E8E8));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #E8E8E8 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at center top, #FFFFFF 0%, #E8E8E8 100%);
	
	} 

	
.para { 
	background:#fff;
} 

#bodycontent { 

} 

body 
	{ 	
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #ABA9A9 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #ABA9A9 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #ABA9A9 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 410, color-stop(0, #FFFFFF), color-stop(1, #ABA9A9));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-side, #FFFFFF 0%, #ABA9A9 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at center, #FFFFFF 0%, #ABA9A9 100%);

	} 


header * #emve { 
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(left top, ellipse farthest-corner, #FF1800 0%, #FFFFFF 50%, #FF1800 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left top, ellipse farthest-corner, #FF1800 0%, #FFFFFF 50%, #FF1800 100%);

/* Opera */ 
background-image: -o-radial-gradient(left top, ellipse farthest-corner, #FF1800 0%, #FFFFFF 50%, #FF1800 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left top, 0, left top, 866, color-stop(0, #FF1800), color-stop(0.5, #FFFFFF), color-stop(1, #FF1800));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left top, ellipse farthest-corner, #FF1800 0%, #FFFFFF 50%, #FF1800 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-corner at left top, #FF1800 0%, #FFFFFF 50%, #FF1800 100%)


}

#ask
	{
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Opera */ 
background-image: -o-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left top, 0, left top, 820, color-stop(0, #A61000), color-stop(0.5, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at left top, #A61000 0%, #FF1800 50%, #A61000 100%);
		
	}
	
	#ask button { 
	background:none;
	} 
	
	
#signup 
	{
	background:#fff;
	}
	
#ask2
	{
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Opera */ 
background-image: -o-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left top, 0, left top, 820, color-stop(0, #A61000), color-stop(0.5, #FF1800), color-stop(1, #A61000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left top, ellipse farthest-side, #A61000 0%, #FF1800 50%, #A61000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(ellipse farthest-side at left top, #A61000 0%, #FF1800 50%, #A61000 100%);
	}

